
#bgvideo {
    background: rgba(0, 0, 0, 0) url("polina.jpg") no-repeat scroll 0 0 / cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -100;
}

#header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 50px;
    line-height: 50px;
}

.header-middle-text {
    height: 100%;
    padding-left: 30px;
    color: #cfb154;
}

#header-logo-row {
    text-align: center;
}

#header-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;
    line-height: 40px;
}

.footer-middle-text {
    height: 100%;
    /*text-align: center;*/
    vertical-align: middle;
    padding-left: 30px;
    color: #cfb154;
}

.black-container {
    background-color: rgba(0, 0, 0, 0.2);
}

body {
    background-color: #000;
    min-height: 100%;
    height: auto;
    position: relative;
}

#header2{
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

#header2 .container {
    height: 50px;
    line-height: 50px;
}

#header-logo2 {
    padding-left: 0px;
}

#header-logo2 img {
    height: 50px;

}

.navbar-nav.navbar-right li:last-child {
    padding-left: 15px;
}

.navbar-nav li, .navbar-nav li a {
    color: #cfb154;
    text-transform: uppercase;
}

.navbar-nav li a:hover {
    background-color: transparent;
}

.nav > li > a{
    padding-left: 8px;
    padding-right: 8px;
}

#collapse-menu li {
    display: block;
    width: 100%;
}

.dropdown-toggle {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid #cfb154;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    z-index: 5;
    padding: 6px 12px !important;
}

.dropdown-toggle span {
    color: #cfb154;
}

.dropdown .dropdown-menu {
    right: 0px;
    left: auto;
}

.dropdown-menu li a {
    color: #cfb154;
}

.main {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.main, .vidbg-box {
    background: rgba(0, 0, 0, 0) url("../images/polina.jpg") no-repeat scroll 0 0 / cover;
}

#myCarousel{
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
    bottom: 0;
    z-index: -1;
}

#footer2 {
    left: 0px;
    bottom: 0px;
    min-height: 40px;
    height: auto;
    line-height: 40px;
    position: fixed;
    right: 0;
}

#footer2 ul li {
    margin-right: 20px;
}

#footer2 ul li:last-child {
    margin-right: 0px;
}

#footer2 ul li.icon {
    font-size: 18px;
}

/*slider*/
.poster-main {
    position: relative;
    width: 900px;
    height: 270px
}

.poster-main a, .poster-main img {
    display: block;
}

.poster-main .poster-list {
    width: 900px;
    height: 270px
}

.poster-main .poster-list .poster-item {
    position: absolute;
    left: 0px;
    top: 0px
}

.poster-main .poster-btn {
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0px;
    z-index: 10;
    opacity: 0.5;
}

.poster-main .poster-prev-btn {
    left: 0px;
    background-color: #fff
}

.poster-main .poster-next-btn {
    right: 0px;
    background-color: #fff
}

.item {
    min-height:600px;
    /*-webkit-transition: 6s ease-in-out left;*/
    /*-moz-transition: 6s ease-in-out left;*/
    /*-o-transition: 6s ease-in-out left;*/
    /*transition: 6s ease-in-out left;*/
}

.carousel-caption *{
    /*animation-delay: 1s;*/
}

.carousel-fade .carousel-inner .item {
    transition: opacity 0.6s;
    /*-webkit-transition-duration: 5s; !* Safari *!*/
    /*transition-duration: 5s;*/
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
    z-index: 2;
}

/*.carousel-inner > .item {*/
    /*position: relative;*/
    /*display: none;*/
    /*-webkit-transition: 6s ease-in-out left;*/
    /*-moz-transition: 6s ease-in-out left;*/
    /*-o-transition: 6s ease-in-out left;*/
    /*transition: 6s ease-in-out left;*/
/*}*/