
#bgvideo {
    background: rgba(0, 0, 0, 0) url("polina.jpg") no-repeat scroll 0 0 / cover ;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    right: 0;
    width: auto;
    z-index: -100;
}

.main-container{
    position: fixed;
    height: 100%;
    width: 100%;
    /*background-color: black;*/
}

#header{
    position: fixed;
    left: 0px;
    top:0px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.2);
    height:50px;
    line-height: 50px;
}

.header-middle-text{
    height:100%;
    padding-left: 30px;
    color: #cfb154;
}

#header-logo-row{
    text-align: center;
}

#header-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

#footer {
    position: fixed;
    left:0px;
    bottom: 0px;
    width:100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;
    line-height: 40px;
}

.footer-middle-text{
    height:100%;
    /*text-align: center;*/
    vertical-align: middle;
    padding-left: 30px;
    color: #cfb154;
}


